/* .App {
  text-align: center;
  
}

.searchbar{
    font-size: 18px;
    margin-left: 140px;
    margin-right: -300px;
}
.searchbar>hr{
  width: 15%; 
padding-left: 30px;


}

.iconname{
  padding-left: 140px;
  margin-left:60px;

}
.App-link {
  color: #61dafb;
}

.addbtn{
  margin-right:50px;
  margin-left: 20px;
  border-radius: 60px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  background-color: rgb(8, 131, 65);
  color :white;
  font-size: 15px;
}

 */

 .detail{
   text-align: center;
   color:brown;
 }

 
